* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  height: 50px;
  width: 50px;
}
body {
  position: relative;
  min-height: 100vh;
  width: 100%;
}
.header {
  height: 100%;
  width: 78px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 12px 16px;
  background-color: #11101d;
  transition: all 0.4s ease;
  z-index: 2;
}
.header.active {
  width: 240px;
}
.logo_content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.header.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}
.logo_content .logo i {
  font-size: 28px;
  margin-right: 5px;
}
.logo_content .logo .logo_name {
  font-size: 20px;
  font-weight: 400;
  white-space: nowrap;
}
#btn {
  position: absolute;
  color: #fff;
  left: 50%;
  top: 12px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  transform: translateX(-50%);
  line-height: 50px;
}
.header.active #btn {
  left: 90%;
}
.header__nav-item {
  height: 50px;
  width: 100%;
  list-style-type: none;
  position: relative;
}
.header__nav-item .tool-tip {
  position: absolute;
  left: 122px;
  top: 0;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 122px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  line-height: 35px;
  text-align: center;
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}
.header.active .header__nav-item .tool-tip {
  display: none;
}
.header__nav-item:hover .tool-tip {
  top: 50%;
  transition: all 0.4s ease;
  opacity: 1;
}
.header__nav-item a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.25s ease;
  border-radius: 12px;
  white-space: nowrap;
}
.header__nav-item a:hover {
  color: #11101d;
  background-color: #fff;
}
.header__nav-item a i {
  width: 24px;
  min-width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.header.active .header__nav-linkname {
  opacity: 1;
  pointer-events: auto;
}
.header .header__nav-linkname {
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.header .profile-conent {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}
.profile-conent .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  transition: all 0.4s ease;
  background-color: none;
}
.header.active .profile-conent .profile {
  background-color: #1d1b31;
}
.profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}
.header.active .profile .profile_details {
  opacity: 1;
  pointer-events: auto;
}
.profile_details img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}
.profile_details .name-job {
  margin-left: 10px;
}
.profile_details .name {
  font-size: 15px;
  font-weight: 400;
}
.profile_details .job {
  font-size: 12px;
}
.profile #log-out {
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.4s ease;
  background-color: #1d1b31;
}
.header.active .profile #log-out {
  background-color: none;
}
.header.active .profile #log-out {
  left: 88%;
}
.container {
  position: absolute;
  left: 78px;
  transition: all 0.4s ease;
  z-index: 1;
  display: flex;
}
.main-container {
  margin: 16px 32px;
  min-width: 70%;
}
.main-container__info .main-container__name {
  font-size: 24px;
  font-weight: 500;
}
.main-container__decription {
  opacity: 0.7;
}
.main-container__films {
  margin: 32px 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacing));
  --spacing: 30px;
  --columns: 2;
  width: 100%;
}
.main-container__film {
  width: calc(calc(100% / var(--columns)) - var(--spacing));
  display: flex;
  align-items: center;
  margin-left: var(--spacing);
  margin-bottom: var(--spacing);
}
.main-container__film .icon {
  flex-shrink: 0;
}
.main-container__film .icon i {
  position: relative;
}
.main-container__film .icon i:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: currentColor;
  position: absolute;
  border-radius: inherit;
  top: 0;
  left: 0;
  opacity: 0.25;
}
.main-container__film i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  color: var(--icon);
  opacity: 0.7;
  margin: 16px 16px 16px 0;
}
.main-container__film .info {
  flex: 1;
}
.main-container__film .info__text {
  display: flex;
  justify-content: space-between;
}
.info .info__text {
  padding-bottom: 16px;
}
.info__text .text__name {
  font-weight: 500;
}
.text__chapter b {
  font-size: 20px;
}
.info .info__percent {
  width: 100%;
  height: 4px;
  background-color: #999;
  margin-bottom: 20px;
  border-radius: 16px;
}
.info__percent .real__percent {
  background-color: var(--icon);
  height: 4px;
  width: 50%;
  border-radius: inherit;
  opacity: 0.7;
}
.main-container__choose .text {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}
.main-container__choose .choose {
  display: flex;
  justify-content: space-between;
}
.main-container__choose .choose p {
  margin-right: 12px;
}
.choose {
  margin-bottom: 20px;
}
.choose p {
  display: inline-block;
}
.choose2 p:first-child {
  opacity: 0.6;
}
.main-container__list-film .film {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  box-shadow: 0px 10px 20px #999;
  padding: 12px 0;
  border-radius: 12px;
}
.film .img {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  margin: 20px;
  object-fit: cover;
  border-radius: 100%;
}
.film .title {
  flex: 1;
  padding-right: 12px;
}
.title .title-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.title-top .info {
  color: red;
  border-radius: 30px;
  padding: 2px 12px;
  position: relative;
}
.title-top i {
  font-size: 20px;
}
.title-top .info::before {
  content: "";
  width: 85px;
  height: 30px;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
}
.title .title-bot {
  display: flex;
  justify-content: space-between;
}
.title-bot .chapter {
  display: flex;
}
.chapter .circle {
  width: 54px;
  height: 54px;
  padding-right: 22px;
  border-radius: 100%;
  line-height: 54px;
  text-align: center;
  margin-right: 12px;
  position: relative;
  border: 4px solid blue;
  border-right: 5px solid green;
}
.circle .real-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}
.title-bot a {
  color: blue;
  padding: 0 16px;
  line-height: 52px;
  border-radius: 30px;
  border: 2px solid blue;
  text-decoration: none;
  transition: all 0.25s ease;
}
.title-bot a:hover {
  background-color: blue;
  color: white;
}
.info .film__name {
  font-size: 18px;
  font-weight: 450;
}
.info .film__author {
  opacity: 0.6;
}
.right-nav {
}
.right-nav .current-info {
}
